$dark-cyan: #0e8784;
$Dark-Grey-Blue: #333d4b;
$Pale-Orange: #fdd;
$Light-Cream-BG: #fefcf7;
$Grey: #83888f;
$aqua: #66d2cf;
$pink: #fdd6ba;
$black: #2c343e;

$big-fs: 15rem;
$big-lh: 0.48;

$h1-fs: 7.2rem;
$h1-lh: 1;

$h2-fs: 4rem;
$h2-lh: 1.2;

$h3-fs: 3.2rem;
$h3-lh: 1.125;

$h4-fs: 2.4rem;
$h4-lh: 1.3;

$body-fs: 1.6rem;
$body-lh: 1.625;

$meny-fs: 1.2rem;
$many-lh: 1.25;

$headers-fonts: "Fraunces", serif;
$body-fonts: "Barlow", sans-serif;

@debug -(200px +30px);
